#background{
	width: 100%;
	height: 100%;
	position: absolute;
	background-image: linear-gradient(to bottom right, #F36B15, #000000);
}
.row{
	
}
#form{
	backdrop-filter: blur(10px); /* Chrome and Opera */
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 95px;
    width: 35rem;
}
#title{
	color: white;
	font-family: 'Galada', Cursive;
	font-size: 6rem;
}
footer #footer{
	color: white;
	font-family: 'Galada', Cursive;
	font-size: 3rem;
}